<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="catModal" th:remove="tag">
    <div id="modalMain">
        <div id="modalHeader">
            <p id="question" style="color: #f9ebd5 !important;">What do you like to listen to?</p>
            <a href="/profile?myProfile" id="laterBtn"><button id="doThisLater" class="btn waves-effect waves-light">Do this Later</button></a>
        </div>
        <div id="modalContent" class="row">
            <div th:each="i : ${#numbers.sequence(0, categoryList.size() - 1)}">

                <div class="col s12 m8 offset-m2 l5 categoryBox"  th:classappend="${i % 2 == 0 ? 'offset-l1' : ''}" style="background: none !important;">
                    <div class="card-panel z-depth-1 categoryItem" style="background: none !important;">
                        <div class="row valign-wrapper">
                            <div class="col s5 imageBox">
                                <img th:src="@{/images/categoryPic.png}" alt="" class="circle responsive-img" id="recLogo">
                            </div>
                            <div class="col s7 textBox">
                                <h3 class="categoryName" th:text="${categoryList.get(i).name}"></h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="modalSubmit">
            <form onsubmit="handleRecommendations()" th:method="GET" id="categoryForm" th:action="@{/recommendations}">
                <a id="submitCategories" class="right customButton"><button class="btn waves-effect waves-light">Submit</button></a>
            </form>
        </div>
    </div>

</div>