<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="catModal" th:remove="tag">
    <div id="modalMain">
        <div id="modalHeader">
            <p id="question">What do you like to listen to?</p>
            <a href="/profile"><button id="doThisLater">Do this Later X</button></a>
        </div>
        <div id="modalContent" class="row">
            <div th:each="i : ${#numbers.sequence(0, categoryList.size() - 1)}">

                <div class="col s12 m8 offset-m2 l5"  th:classappend="${i % 2 == 0 ? 'offset-l1' : ''}">
                    <div class="card-panel z-depth-1 categoryItem">
                        <div class="row valign-wrapper">
                            <div class="col s2">
                                <img th:src="@{/img/audio.jpg}" alt="" class="circle responsive-img">
                            </div>
                            <div class="col s10">
                                <h2 class="black-text" th:text="${categoryList.get(i).name}"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="modalSubmit">
            <form onsubmit="handleRecommendations()">
                <button id="submitCategories" class="right">Submit</button>
            </form>
        </div>
    </div>

</div>