<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="deleteModal" th:remove="tag">
    <a th:if="${session.user.id == userPodcasts.get(i).user.id}" class="buttonItem waves-effect waves-light btn modal-trigger deleteButton" th:href="@{#modal{num}(num=${i})}">Delete</a>

    <div th:id="'modal' + ${i}" class="modal">
        <div class="modal-content">
            <h4>Are You Sure you want to delete this podcast?</h4>
        </div>
        <form th:action="@{/podcast/delete/{id}(id=${userPodcasts.get(i).id})}" th:method="GET">
            <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
            <button class="modal-close waves-effect waves-green btn-flat"><a>Delete</a></button>
        </form>
    </div>
</div>