<html lang="en" xmlns:th="http://www.thymeleaf.org">

<div th:fragment="deleteModal" th:remove="tag">
    <a th:if="${session.user.id == userPodcasts.get(i).user.id}" class="full-width waves-effect waves-light btn modal-trigger deleteButton" th:href="@{#modal{num}(num=${i})}">Delete</a>

    <div th:id="'modal' + ${i}" class="modal">
        <div class="modal-content">
            <h4>Are You Sure you want to delete this podcast?</h4>
        </div>
        <form class="full-width" th:action="@{/podcast/delete/{id}(id=${userPodcasts.get(i).id})}" th:method="GET">
            <input class="full-width" type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
            <button class="full-width modal-close waves-effect waves-green btn-flat" ><a class="full-width">Delete</a></button>
        </form>
    </div>
</div>
