<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="page-footer">
    <div class="container footerContainer">
        <div class="row">
            <div class="col s12">
                <div id="footerIconAndName">
                    <img th:src="@{/images/PodlobbyTrans.png}" id="footerImageIcon"/>
                    <a class="modal-trigger" href="#msgModal" style="align-self: center;">Contact Us</a>
                </div>
                <h5 class="centerText">About Us</h5>
                <ul class="footerUl">
                    <li><a class="contactLinks" href="https://www.linkedin.com/in/matthew-baker-76b17b200/">Matthew</a></li>
                    <li><a class="contactLinks" href="https://www.linkedin.com/in/cwardlaw/">Caleb</a></li>
                    <li><a class="contactLinks" href="https://www.linkedin.com/in/amber-mattis/">Amber</a></li>
                    <li><a class="contactLinks" href="https://www.linkedin.com/in/gonzalo-ovalle3/">Gonzalo</a></li>
                </ul>
            </div>

            <div class="modal" id="msgModal">
                <form class="modal-content" th:action="@{/sendMessage}" method="post" style="display: flex !important;">
                    <div class="input-field" style="width: 80% !important;">
                        <textarea class="materialize-textarea" id="messageUs" name="messageUs"></textarea>
                        <label for="messageUs" id="footerContactLabel">Message</label>
                    </div>
                    <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                    <a style="align-self: center;">
                        <button class="waves-effect waves-light" name="action" id="footerSubmitButton">Send<i class="material-icons right">send</i>
                        </button>
                    </a>
                </form>
            </div>

        </div>
    </div>
</footer>