<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <i class="large material-icons">airplay</i>
                <h5 class="white-text">PodLobby</h5>
                <h5 class="white-text">About Us</h5>
                <ul class="footerUl">
                    <li><a class="grey-text text-lighten-3" href="#!">Matthew</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Caleb</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Amber</a></li>
                    <li><a class="grey-text text-lighten-3" href="#!">Gonzalo</a></li>
                </ul>
            </div>
            <div class="col l4 offset-l2 s12">
                <h5 class="white-text">Contact Us</h5>
                <input id="last_name" type="text" class="validate" placeholder="Message">
                <i class="large material-icons">chevron_right</i>
            </div>
        </div>
    </div>
</footer>