<html lang="en" xmlns:th="http://www.thymeleaf.org">

<footer th:fragment="footer" class="page-footer">
    <div class="container footerContainer">
        <div class="row">
            <div class="col l7 s12">
                <div id="footerIconAndName">
                    <i class="large material-icons">airplay</i>
                    <h5 id="footerSiteName">PodLobby</h5>
                </div>
                <h5 class="centerText">About Us</h5>
                <ul class="footerUl">
                    <li><a class="contactLinks" href="https://www.linkedin.com/in/matthew-baker-76b17b200/">Matthew</a></li>
                    <li><a class="contactLinks" href="https://www.linkedin.com/in/cwardlaw/">Caleb</a></li>
                    <li><a class="contactLinks" href="https://www.linkedin.com/in/amber-mattis/">Amber</a></li>
                    <li><a class="contactLinks" href="https://www.linkedin.com/in/gonzalo-ovalle3/">Gonzalo</a></li>
                </ul>
            </div>

            <div class="col l5 s12">
                <form th:action="@{/sendMessage}" method="post">
                    <h5>Contact Us</h5>
                    <div class="input-field col s6">
                        <textarea class="materialize-textarea" id="messageUs" name="messageUs"></textarea>
                        <label for="messageUs" id="footerContactLabel">Message</label>
                    </div>
                    <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                    <a><button class="waves-effect waves-light" name="action" id="footerSubmitButton">
                        <i class="material-icons right">send</i>
                    </button></a>
                </form>
            </div>
        </div>
    </div>
</footer>