<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<div class="navbar">
    <nav class="navbar-fixed" th:fragment="navbar">
        <ul class="head-txt">
            <li><a href="/">PodLobby</a></li>
            <li><a href="/register">Register</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/logout">Logout</a></li>
            <li><a href="/request">Request</a></li>
            <li><a href="/create">Create</a></li>
            <li><a href="/profile">Settings</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul>
    </nav>
</div>

