<html lang="en" xmlns:th="http://www.thymeleaf.org">





<div th:fragment="requestModal" th:remove="tag">
    <a class="modal-trigger customButton" href="#responses"><button class="waves-effect waves-light feedButton">Would you like to work with me?</button></a>

    <div id="responses" class="modal">
        <div class="modal-content" th:if="${responseList != null}">
            <div class="commentArea" th:each="response : ${responseList}">
                <img style="max-width: 25%;" class="commentProImage circle responsive-image" th:src="${userController.getOne(response.user.id).profileImage}"/>
                <div class="widthText">
                    <p class="teal-text text-darken-3">Posted at : <span th:text="${session.method.timeFormat(response.createdAt.toString().substring(0, 16))}"></span></p>
                    <p class="teal-text text-darken-3">Posted by : <span th:text="${userController.getOne(response.user.id).username}"></span></p>
                </div>
                <p class="commentContent teal-text text-darken-3" th:text="${response.content}"></p>
                <form th:action="@{/response/delete/{id}(id=${response.id})}" th:method="GET" th:if="${response.user.id == session.user.id}">
                    <input type="hidden" name="currentUrl" id="URL" th:value="${currentUrl}">
                    <button th:if="${response.acceptedStatus == 0}" class="btn wave-effect"><a>Delete Response</a></button>
                </form>
            </div>
        </div>
        <div>
            <form th:action="@{/response/create/{title}(title=${session.request.title})}" th:method="POST" class="container">
                <div class="input-field">
                    <label for="response">Response</label>
                    <input name="response" type="text" id="response" class="validate"/>
                </div>
                <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                <button class="btn wave-effect"><a>Send response<i class="material-icons">chat</i></a></button>
            </form>
        </div>
    </div>
</div>