<html lang="en" xmlns:th="http://www.thymeleaf.org">





<div th:fragment="requestModal" th:remove="tag">
    <a class="waves-effect waves-light btn modal-trigger deleteButton" href="#responses">Would you like to work with me?</a>

    <div id="responses" class="modal">
        <div class="modal-content" th:if="${responseList != null}">
            <div class="commentArea" th:each="res : ${responseList}">
                <p class="teal-text text-darken-3" th:text="${res.content}"></p>
                <p class="teal-text text-darken-3">Posted at : <span th:text="${res.createdAt}"></span></p>
                <p class="teal-text text-darken-3">Posted by : <span th:text="${userController.getOne(res.user.id).username}"></span></p>
                <img style="max-width: 25%;" class="circle responsive-image" th:src="${userController.getOne(res.user.id).profileImage}"/>
                <form th:action="@{/response/delete/{id}(id=${res.id})}" th:method="GET" th:if="${res.user.id == session.user.id}">
                    <input type="hidden" name="currentUrl" id="URL" th:value="${currentUrl}">
                    <button class="btn wave-effect"><a>Delete Response</a></button>
                </form>
            </div>
        </div>
        <div>
            <form th:action="@{/response/create/{title}(title=${session.request.title})}" th:method="POST" class="container">
                <div class="input-field">
                    <label for="response">Response</label>
                    <input name="response" type="text" id="response" class="validate"/>
                </div>
                <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                <button class="btn wave-effect"><a>Send response<i class="material-icons">chat</i></a></button>
            </form>
        </div>
    </div>
</div>