<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/materializeHead :: styleHead('Create Podcast')"></head>
<body>
<nav th:replace="partials/navbar-profile :: profileNav"></nav>
<main>
    <div class="container">
        <h1 class="my-4">Create Podcast</h1>

        <div th:if="${!param.isEmpty()}">
            <div>
                <div th:if="${param.title}">
                    Title can not be blank.
                </div>
            </div>
            <div>
                <div th:if="${param.embed}">
                    Embed Link can not be missing.
                </div>
            </div>
            <div>
                <div th:if="${param.embedIssue}">
                    Embed Link seems to be missing the src attribute, please check.
                </div>
            </div>
            <div>
                <div th:if="${param.description}">
                    Description can not be blank.
                </div>
            </div>
            <div>
                <div th:if="${param.categories}">
                    Categories can not be missing.
                </div>
            </div>
        </div>

        <form th:action="@{/podcasts/create}" th:method="POST" th:object="${podcast}">
            <div class="input-field">
                <label for="title">Title</label>
                <input class="validate" type="text" id="title" th:field="*{title}"/>
            </div>
            <div class="input-field">
                <label for="body">Description</label>
                <textarea class="materialize-textarea" id="body" th:field="*{description}"></textarea>
            </div>

            <div class="input-field" style="display: flex">
                <label for="embedUrl">Embed URL</label>
                <input class="validate" type="text" id="embedUrl" th:field="*{embedLink}"/>
                <a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')"><i class="fas fa-question"></i></a>
            </div>

            <div class="input-field">
                <label for="imageURL">Image URL (optional)</label>
                <input class="validate" type="text" id="imageURL" th:field="*{image}"/>
            </div>
            <div class="input-field">
                <select multiple id="categories" name="categories" th:field="*{categories}">
                    <option value="" selected disabled>Select Categories</option>
                    <option th:each="i : ${#numbers.sequence(0, categoryList.size() - 1)}" th:value="${i}" th:text="${categoryList.get(i).name}"></option>
                </select>
                <label>Categories</label>
            </div>

            <input type="hidden" th:field="*{id}"/>
            <input class="btn" type="submit" value="Create Post" />
        </form>

        <div class="tap-target" data-target="menu">
            <div class="tap-target-content">
                <h5>Embed URL</h5>
                <p>This can be found under the share option while viewing your podcast -> copy embed link!</p>
                <img class="circle responsive-img" th:src="@{/gif/embedLinkAnchor.gif}" alt="anchor gif">
            <!--     ^^ NOT WORKING RIGHT NOW           -->
            </div>
        </div>

        <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>


    </div>
</main>
<footer th:replace="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>
