<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/materializeHead.html :: styleHead('Create Post')"></head>
<body>
<nav th:replace="partials/navbar-profile :: profileNav"></nav>
<div class="container">
    <h1 class="my-4">Edit Podcast</h1>

    <form>
        <div class="form-group">
            <label for="title">Title</label>
            <input class="form-control" type="text" id="title"/>
        </div>
        <div class="form-group">
            <label for="body">Description</label>
            <textarea class="form-control" id="body"></textarea>
        </div>
        <!--May need to change type below-->
        <div class="form-group">
            <label for="audioURL">Audio URL</label>
            <input class="form-control" type="text" id="audioURL"/>
        </div>

        <input class="btn btn-block btn-primary" type="submit" value="Edit Post" />
        <!--    DELETE OPTION-->

        <!--    <form th:action="@{|/posts/${post.id}/delete|}" th:method="POST">-->
        <input class="btn btn-danger" type="submit" value="Delete Post" />
        <!--    </form>-->
    </form>


</div>

<footer th:include="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>
