<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeCreate :: styleHead('Let\'s Collaborate!')">
</head>
<body>
<nav th:replace="partials/navbar-profile :: profileNav"></nav>

<main>


    <form th:action="@{/collaborate/contact}" th:method="POST" class="container" style="display: flex; height: auto; flex-direction: column; justify-content: center;">
        <h1>Let's Collaborate!</h1>
        <div th:if="${message != null}">
            <p class="errorMsg" th:text="${message}"></p>
        </div>
        <small>Your email will be shared with this user</small>
        <div class="input-field" style="display: flex">
            <i class="material-icons">border_color</i>
            <label class="labelIcon" for="body">Description</label>
            <textarea class="materialize-textarea" id="body" name="body"></textarea>
        </div>
        <input type="hidden" name="toUserId" th:value="${userToContact.id}"/>
        <button class="btn waves-effect" style="align-self: center; margin-top: 50px;"><a>Send</a></button>
    </form>

</main>

<footer th:replace="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>