<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/materializeHead.html :: styleHead('Who you follow')"></head>
<body>
<div>
    <img id="animated-example heading" class="animated fadeInDown background-img background-img" th:style="'background:linear-gradient(rgba(0, 0, 0, 0.75),rgba(0, 0, 0, .75)),url(' + ${session.user.backgroundImage} + '); background-repeat: no-repeat !important; background-size: cover !important;'">
</div>
<nav th:replace="partials/navbar-profile :: profileNav"></nav>

<main>
<div class="container">

    <div th:if="${message != null}">
        <p class="errorMsg" th:text="${message}"></p>
    </div>

    <h1>Following Page</h1>

    <div class="row">

        <div class="col s10 m6 l4" th:each="following : ${followingList}">
            <a class="widthFull btn waves-effect waves-light" th:href="@{/unfollow/{id}(id=${following.id})}">Unfollow</a>
            <div class="row">
                <div class="col s12">
                    <div class="card" style="box-shadow: none !important; background: rgba(252, 232, 205, .8) !important; color: #433520 !important;">
                        <div class="card-image">
                            <img th:src="${following.profileImage}">
                        </div>
                        <div class="card-content">
                            <h3 th:text="${following.username}"></h3>
                            <ul>
                                <li># of posts: <span th:text="${following.podcasts.size()}"></span> </li>
                                <li class="divider"></li>
                                <li th:switch="${following.requests.size() > 0}">Looking for guest(s):
                                    <span th:case="${true}">Yes</span>
                                    <span th:case="${false}">No</span>
                                </li>
                                <li class="divider"></li>
                                <li># of active requests: <span th:text="${following.requests.size()}"></span> </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a class="widthFull btn waves-effect waves-light" th:href="@{/following/{id}(id=${following.id})}">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>
</main>

<footer th:replace="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>
