<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('Login')"></head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<main>
    <h1 class="text-center">Please Log In</h1>

    <div th:if="${!param.isEmpty()}">
        <div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>
            <div th:if="${param.error}">
                Username or password does not exist, you may need to activate your account.
            </div>
            <div th:if="${param.messageSent}">
                Our team has been notified. We will get back to you soon
            </div>
            <div th:if="${param.activated}">
                Your account has been activated
            </div>
            <div th:if="${param.activationIssue}">
                There was an issue activating your account
            </div>
        </div>
    </div>

    <form class="container" method="post" th:action="@{/login}">

        <div class="input-field">
            <input class="validate" type="text" id="username" name="username"/>
            <label for="username">Username</label>
        </div>
        <div class="input-field">
            <input class="validate" type="password" id="password" name="password"/>
            <label for="password">Password</label>
        </div>
        <button class="btn waves-effect">Login</button>

    </form>
    <a href="/forgotPassword"><button class="btn waves-effect">Forgot Password</button></a>
    <a class="white-text" href="/register"><button class="btn waves-effect">Register</button></a>
</main>
<footer th:replace="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>
</body>
</html>