<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/profilePageStyle :: styleHead('User Profile')"></head>
<body>
<div>
    <img id="animated-example heading" class="animated fadeInDown background-img background-img" th:style="'background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, .8)),url(' + ${following.backgroundImage} + '); background-repeat: no-repeat !important; background-size: cover !important;'">
</div>
<div th:replace="partials/navbar-profile :: profileNav"></div>

<div th:if="${message != null}">
    <p class="errorMsg" th:text="${message}"></p>
</div>

<div class="container" id="profileContentContainer">

<main>
    <div class="row">
        <div class="col m4 profile-side" id="otherUserProfileCard">
            <img class="circle profile-Image" th:src="${following.profileImage}">
            <div class="collection list-style" style="background-color: #cbbba5 !important;">
                <a class="collection-item" th:text="${following.username}"></a>
                <a th:if="${!isFollowing}" th:href="@{/followUser/{id}(id=${following.id})}" class="collection-item">Follow</a>
                <a th:if="${isFollowing}" th:href="@{/unfollow/{id}(id=${following.id})}" class="collection-item">UnFollow</a>

                <a th:href="@{/user-requests/{id}(id=${following.id})}" class="collection-item">View active requests</a>
                <div th:replace="partials/deleteUserModal :: deleteUserModal"></div>

            </div>

            <!--       display the would you like to work with me if you got here through the requests page     -->
            <div th:if="${!param.isEmpty()}">
                <div>
                    <div th:if="${param.requestViewing}">
                        <div th:replace="partials/requestModal :: requestModal"></div>
                    </div>
                </div>
            </div>
            <!--    ^^^^^ THIS IS WHERE YOU CAN CLICK TO SEND A RESPONSE TO THE USER THAT CREATED THE REQUEST  -->

            <p class="center-align user-about-me" th:text="${following.aboutMe}"></p>

        </div>

        <div class="col s12 m8 content-side">
            <p class="center-align">Activity</p>
            <!--    In the content area can click on a specific podcast ( id ) and it will move to the nav bar to be played -->
            <div th:if="${quantityPodcasts>0}" id="profileContentArea">

                <div class="col s12 profileContentItem" th:each="i : ${#numbers.sequence(0, followingPodcasts.size() - 1)}">
                    <div class="card horizontal profileCard-Card" style="box-shadow: none !important; background: rgba(252, 232, 205, .8) !important; color: #433520 !important;">
                        <div class="card-image">

                            <img class="podImageProfiles" th:src="${followingPodcasts.get(i).image}">

                        </div>
                        <div class="card-stacked">
                            <div class="card-content podcastsDesc" style="display: flex; flex-direction: column;">
                                <p class="left" th:text="${followingPodcasts.get(i).title}"></p>
                                <p th:text="${followingPodcasts.get(i).description}"></p>
                            </div>
                            <div class="card-action" id="otherProfileButtonBox">
                                <form class="buttonItem" th:action="@{/listen/{id}(id=${followingPodcasts.get(i).id})}" method="get">
                                    <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                                    <a class="widthFull">
                                        <button class="widthFull waves-effect waves-light btn">Listen</button>
                                    </a>
                                </form>

                                <a class="waves-effect waves-light btn modal-trigger deleteButton" th:href="@{#_modal{num}(num=${i})}">Comments</a>

                                <div th:id="'_modal' + ${i}" class="modal commentModalBox">
                                    <div class="modal-content" style="background-color: #f9ebd5 !important;">
                                        <div class="commentArea" th:each="comment : ${followingPodcasts.get(i).comments}">
                                            <img style="max-width: 25%;" class="circle responsive-image" th:src="${userController.getOne(comment.user.id).profileImage}"/>
                                            <div class="widthText">
                                                <p class="fullWidthText">Posted at : <span th:text="${session.method.timeFormat(comment.createdAt.toString().substring(0, 16))}"></span></p>
                                                <p class="fullWidthText">Posted by : <span th:text="${userController.getOne(comment.user.id).username}"></span></p>
                                            </div>
                                            <p class="commentContent" th:text="${comment.comment}"></p>
                                            <form th:action="@{/comment/delete/{id}(id=${comment.id})}" th:method="GET" th:if="${comment.user.id == session.user.id}">
                                                <input type="hidden" name="currentUrl" id="URL" th:value="${currentUrl}">
                                                <button class="contactUser btn wave-effect">Delete Comment</button>
                                            </form>
                                            <div class="divider" id="commentDivide"></div>
                                        </div>
                                    </div>
                                    <div>
                                        <form th:action="@{/comment/create/{title}(title=${followingPodcasts.get(i).title})}" th:method="POST" class="container">
                                            <div class="input-field">
                                                <label for="comment">Comment</label>
                                                <input name="comment" type="text" id="comment" class="validate"/>
                                            </div>
                                            <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                                            <button class="btn wave-effect contactUser">Add comment<i class="material-icons">chat</i> </button>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>
</div>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>

</html>
