<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('User Profile')"></head>
<body>
<div th:replace="partials/navbar-profile :: profileNav"></div>

<div th:if="${!param.isEmpty()}">
    <div>
        <div th:if="${param.followed}">
            You have followed <span th:text="${follower.username}"></span>.
        </div>
    </div>
</div>
<main>
    <div class="row">
        <div class="col m4 hide-on-small-only profile-side">
            <img class="circle profile-Image" th:src="${follower.profileImage}">
            <div class="collection">
                <a href="#!" class="collection-item" th:text="${follower.username}"></a>
                <a th:if="${!isFollowing}" th:href="@{/followUser/{id}(id=${follower.id})}" class="collection-item">Follow</a>
                <a href="#!" class="collection-item">View active requests</a>
                <p class="center-align" th:text="${follower.aboutMe}"></p>
            </div>
        </div>

        <div class="col s12 m8 content-side">
            <p class="center-align">Activity</p>
            <!--    In the content area can click on a specific podcast ( id ) and it will move to the nav bar to be played -->
            <div id="profileContentArea">

                <div class="col s12 profileContentItem" th:each="i : ${#numbers.sequence(0, followerPodcasts.size() - 1)}">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img th:src="${followerPodcasts.get(i).image}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <iframe th:src="${followerPodcasts.get(i).embedLink}"></iframe>
                            </div>
                            <div class="card-action">
                                <a th:href="@{/listen/{id}(id=${followerPodcasts.get(i).id})}">Listen</a>

                                <a class="waves-effect waves-light btn modal-trigger deleteButton" th:href="@{#_modal{num}(num=${i})}">Comments</a>

                                <div th:id="'_modal' + ${i}" class="modal">
                                    <div class="modal-content">
                                        <div class="commentArea" th:each="comment : ${followerPodcasts.get(i).comments}">
                                            <p th:text="${comment.comment}"></p>
                                            <p>Posted at : <span th:text="${comment.createdAt}"></span></p>
                                            <p>Posted by : <span th:text="${userController.getOne(comment.user.id).username}"></span></p>
                                            <img style="max-width: 25%;" class="circle responsive-image" th:src="${userController.getOne(comment.user.id).profileImage}"/>
                                            <a th:href="@{/comment/delete/{id}(id=${comment.id})}" th:if="${comment.user.id == session.user.id}"><button class="btn wave-effect">Delete Comment</button> </a>
                                        </div>
                                    </div>
                                    <div>
                                        <form th:action="@{/comment/create/{title}(title=${followerPodcasts.get(i).title})}" th:method="POST" class="container">
                                            <div class="input-field">
                                                <label for="comment">Comment</label>
                                                <input name="comment" type="text" id="comment" class="validate"/>
                                                <button class="btn wave-effect">Add comment<i class="material-icons">chat</i> </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>

</html>