<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('Your Profile')"></head>
<body>
<div>
    <img id="animated-example heading" class="animated fadeInDown background-img background-img" th:src="@{/images/dark-lines-bg-copy.jpg}">
</div>
    <nav th:replace="partials/navbar-profile :: profileNav"></nav>


    <div th:if="${!param.isEmpty()}">
        <div>
            <div th:if="${param.messageSent}">
                Our team has been notified. We will get back to you soon
            </div>
        </div>
        <div>
            <div th:if="${param.deleted}">
                Your podcast has been successfully deleted
            </div>
        </div>
        <div>
            <div th:if="${param.comment}">
                Your comment has been successfully deleted
            </div>
        </div>
        <div>
            <div th:if="${param.edit}">
                You are not allowed to edit this podcast
            </div>
        </div>
        <div>
            <div th:if="${param.edited}">
                Your podcast has been successfully edited
            </div>
        </div>
        <div>
            <div th:if="${param.deletedUser}">
                You have successfully deleted the user
            </div>
        </div>
    </div>

   <div th:if="${message != null}">
        <p th:text="${message}"></p>
    </div>
<div class="container">

    <main>
        <div class="row">
            <div class="col m4 hide-on-small-only profile-side profile-style">
                <img class="circle profile-Image" th:src="${session.user.profileImage}">
                <div class="collection list-style">
                    <p class="collection-item teal-text text-darken-4" th:text="${session.user.username}"></p>
                    <a href="/following" class="collection-item teal-text text-darken-4">Following<span class="badge" th:text="${followingCount}"></span> </a>
                    <a href="/followers" class="collection-item teal-text text-darken-4">Followers<span class="badge" th:text="${followsCount}"></span></a>
                    <a href="/getCategories" class="collection-item teal-text text-darken-4">Discover</a>
                    <a href="/user-requests" class="collection-item teal-text text-darken-4">Requests</a>
                    <a href="/user-responses" class="collection-item teal-text text-darken-4">Responses</a>
                    <a href="/profile" class="collection-item teal-text text-darken-4">Recommendations</a>
                    <a href="?myPodcasts" class="collection-item teal-text text-darken-4">My Podcasts</a>
                </div>
                <!--    ^^^^^ THIS IS WHERE YOU CAN CLICK TO SEND A RESPONSE TO THE USER THAT CREATED THE REQUEST  -->
                <p class="center-align" th:text="${session.user.aboutMe}"></p>
            </div>

            <h2 class="profile-heading" th:text="'Welcome back ' + ${session.user.username}" ></h2>

            <div class="col s12 m8 content-side">

    <!--    In the content area can click on a specific podcast ( id ) and it will move to the nav bar to be played -->

                <div th:if="${!param.isEmpty()}">
                    <div id="profileContentArea">


                        <div th:if="${userPodcasts.size() > 0}">
                            <div class="col s12 profileContentItem" th:each="i : ${#numbers.sequence(0, userPodcasts.size() - 1)}">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img th:src="${userPodcasts.get(i).image}">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content" style="overflow:auto">
                                            <p th:text="${userPodcasts.get(i).description}"></p>
                                        </div>
                                        <div class="card-action">

                                            <form th:action="@{/listen/{id}(id=${userPodcasts.get(i).id})}" method="get">
                                                <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl} + '?myPodcasts'">
                                                <a><button class="btn waves-effect waves-light">Listen</button></a>
                                            </form>

                                            <a th:href="@{/podcasts/{id}/edit(id=${userPodcasts.get(i).id})}" class="btn waves-effect waves-light">Edit</a>
                                            <div th:replace="partials/deleteModal :: deleteModal"></div>
                                            <div th:replace="partials/commentsModal :: commentModal"></div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div>

                    <div>
                        <div id="profileContentAreaRecommendations" th:if="${param.isEmpty()}">


                            <h1 th:if="${session.recommendations == null}">Check out the discover option</h1>

                            <div th:if="${session.recommendations != null}" class="col s12 profileContentItem" th:each="recommendation : ${session.recommendations}">
                                <div class="card horizontal">
                                    <div class="card-image">
                                        <img th:src="${recommendation.image}">
                                    </div>
                                    <div class="card-stacked">
                                        <div class="card-content">
                                                <p th:text="${recommendation.description}"></p>
                                        </div>
                                        <div class="card-action">
                                            <div style="display: flex; justify-content: space-around;">
                                                <p th:each="category : ${recommendation.categories}" th:text="${category.name}"></p>
                                            </div>

                                            <form th:action="@{/listen/{id}(id=${recommendation.id})}" method="get">
                                                <input type="hidden" name="currentUrl" th:value="${currentUrl} + '?recommendations'">
                                                <a><button class="waves-effect waves-light btn">Listen</button></a>
                                            </form>
                                         </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </div>

    </main>


    <footer style="position: fixed; z-index: 3" th:replace="partials/footer :: footer"></footer>
</div>
    <div th:replace="partials/materializescripts :: scripts"></div>
</body>

</html>
