<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/recommendationsStyle :: styleHead('Podcast Recommendations')"></head>
<body>
<nav th:replace="partials/navbar-profile :: profileNav"></nav>

    <main id="mainPadding">

        <div th:if="${!param.isEmpty()}">
            <div>
                <div class="errorMsg" th:if="${param.default}">
                    Please make a selection or choose to do this later.
                </div>
            </div>
        </div>

        <div th:include="partials/categoryModal :: catModal"></div>

    </main>
    <footer th:replace="partials/footer.html :: footer"></footer>
    <div th:replace="partials/materializescripts :: scripts"></div>
    <script>

        let recommendationsArr = [];

        $(".categoryItem").on("click", function () {
            let category = $(this)[0].innerText;
            if($(this).children().children()[1].classList.contains("clicked")){
                $(this).children().children()[0].innerHTML = `<img src="/images/categoryPic.png" alt="" class="categoryImage circle responsive-img">`;
                $(this).children().children()[0].classList.remove("clicked2");
                removeEle(recommendationsArr, category);
                $(this).children().children()[1].classList.remove("clicked");
            } else {
                $(this).children().children()[0].innerHTML = `<img src="/images/logo_transparent_copy.png" alt="" class="categoryImage circle responsive-img">`;
                $(this).children().children()[0].classList.add("clicked2");
                $(this).children().children()[1].classList.add("clicked");
                recommendationsArr.push(category);
            }
        });

        function handleRecommendations(){
            let form = document.getElementById("categoryForm");
            if(recommendationsArr.length > 0) {
                for (let i = 0; i < recommendationsArr.length; i++) {
                    form.insertAdjacentHTML("afterbegin", renderInput(recommendationsArr[i]));
                }
            } else {
                form.insertAdjacentHTML("afterbegin", renderInput("default"));
            }

        }

        function renderInput(string){
            return `<input type="hidden" name="category" value="${string}">`;
        }

        function removeEle(arr, string){
            for(let i = arr.length - 1; i >= 0; i--){
                if(arr[i] === string) {
                    arr.splice(i, 1);
                    return arr;
                }
            }
        }

    </script>
</body>
</html>