<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('Register')"></head>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>


<body>

    <div th:replace="partials/navbar.html :: navbar"></div>
    <main>
        <div class="container">
            <h1 th:text="${registerMessage}">Create an Account</h1>
            <div class="errorMsg" th:if="${errorList.size() &gt; 0}" th:each="error : ${errorList}">
                <small th:text="${error}"></small><br>
            </div>


            <div class="row">
                <form class="col s12" th:action="@{/register}" th:method="POST" th:object="${user}">
                    <div class="row">
                        <div class="input-field col s12" style="display: flex;">
                            <i class="material-icons">account_circle</i>
                            <input id="username" type="text" class="validate" th:field="*{username}"/>
                            <label class="labelIcon" for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" style="display: flex;">
                            <i class="material-icons">lock</i>
                            <input id="password" type="password" class="validate" th:field="*{password}">
                            <label class="labelIcon" for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" style="display: flex">
                            <i class="material-icons">lock</i>
                            <input id="confirmPass" type="password" class="validate" name="confirm-password">
                            <label class="labelIcon" for="confirmPass">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" style="display:flex;">
                            <i class="material-icons">email</i>
                            <input id="email" type="email" class="validate" th:field="*{email}">
                            <label class="labelIcon" for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" style="display: flex">
                            <i class="material-icons">edit</i>
                            <label class="labelIcon" for="body">About Me</label>
                            <textarea class="materialize-textarea" id="body" th:field="*{aboutMe}"></textarea>
                            <a class="waves-effect waves-light" onclick="$('.tap-target').tapTarget('open')"><i class="material-icons">live_help</i></a>
                        </div>

                    </div>

                    <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('recaptcha.testing.site.key')}"></div>
<!--                    <div class="g-recaptcha" th:data-sitekey="${@environment.getProperty('recaptcha.checkbox.site.key')}"></div>-->


                    <button class="btn waves-effect waves-light" type="submit" name="action"><a>Sign Up
                        <i class="material-icons right">send</i></a>
                    </button>
                </form>
                <div class="tap-target" data-target="menu">
                    <div class="tap-target-content" id="registerDiscovery">
                        <h5>About Me</h5>
                        <p>This will be for other users on the site to see when they visit your profile. Please add some information about you and your interests along with something that you are hoping to find here and collaborate on!</p>
                    </div>
                </div>
            </div>
        </div>
        <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>
    </main>

    <div th:replace="partials/footer.html :: footer"></div>
    <div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>