<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeSettings :: styleHead('Your Settings')"></head>
<body>
<div th:replace="partials/navbar-profile :: profileNav"></div>

<main>

    <div class="container">
        <h1>Edit Profile</h1>

        <div th:if="${!param.isEmpty()}">
            <div>
                <div class="errorMsg" th:if="${param.username}">
                    <i class="material-icons">error</i>Username can not be the same as another user
                </div>
            </div>
            <div>
                <div class="errorMsg" th:if="${param.aboutMe}">
                    <i class="material-icons">error</i>Please keep something about you on your profile
                </div>
            </div>
            <div>
                <div class="errorMsg" th:if="${param.email}">
                    <i class="material-icons">error</i>Email is already in use or is blank
                </div>
            </div>
            <div>
                <div class="errorMsg" th:if="${param.passwords}">
                    <i class="material-icons">error</i>Passwords do not match
                </div>
            </div>
            <div>
                <div class="errorMsg" th:if="${param.quality}">
                    <i class="material-icons">error</i>Password needs to be 8-20 char, have 1 number and 1 uppercase
                </div>
            </div>
        </div>

        <form class="col s12" th:action="@{/settings}" th:method="POST" th:object="${user}" style="margin-top: 35px !important;">
            <div class="row">
                <div class="input-field col s12" style="display: flex">
                    <i class="material-icons">account_circle</i>
                    <input id="username" type="text" class="validate" th:field="*{username}"/>
                    <label class="labelIcon" for="username">Edit UserName</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12" style="display: flex">
                    <i class="material-icons">lock</i>
                    <input id="password" type="password" class="validate" th:field="*{password}">
                    <label class="labelIcon" for="password">Edit Password</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12" style="display: flex">
                    <i class="material-icons">lock</i>
                    <input id="confirmPass" type="password" class="validate" name="confirm-password">
                    <label class="labelIcon" for="confirmPass">Confirm Edit Password</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12" style="display: flex">
                    <i class="material-icons">email</i>
                    <input id="email" type="email" class="validate" th:field="*{email}">
                    <label class="labelIcon" for="email">Edit Email</label>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12" style="display: flex">
                    <i class="material-icons">insert_photo</i>
                    <input id="profileImage" type="text" class="validate" name="profileImage">
                    <label class="labelIcon" id="editProfileImageLabel" for="profileImage">Edit Profile Image</label>
                    <button class="wave-effect waves-light" id="fileUploader" style="border: none !important;"><a><i class="material-icons">cloud_download</i></a></button>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12" style="display: flex">
                    <i class="material-icons">insert_photo</i>
                    <input id="backgroundImage" type="text" class="validate" name="backgroundImage">
                    <label class="labelIcon" id="editBackImageLabel" for="backgroundImage">Edit Background Image</label>
                    <button class="wave-effect waves-light" id="backgroundUploader" style="border: none !important;"><a><i class="material-icons">cloud_download</i></a></button>
                </div>
            </div>

            <div class="row">
                <div class="input-field col s12" style="display: flex">
                    <i class="material-icons">edit</i>
                    <label class="labelIcon" for="about-me">About Me</label>
                    <input class="validate"  id="about-me" name="description" type="text" th:value="*{aboutMe}"/>
                </div>
            </div>

            <div class="row" id="submit-btn-row">
                <button class="btn waves-effect waves-light" type="submit" name="action"><a>Submit
                    <i class="material-icons right">send</i></a>
                </button>
            </div>
        </form>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>
<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>
<script th:src="@{/js/keys.js}"></script>
<script>

    const client = filestack.init(fileStackToken);


    const options = {
        maxFiles: 1,
        onUploadDone: uploadFile
    };


    const uploadBtn = document.getElementById("fileUploader");
    uploadBtn.addEventListener("click", (e) => {
        e.preventDefault();
        client.picker(options).open();
    });

    function uploadFile(result){
        const fileData = result.filesUploaded;
        const fileString = fileData[0].url;
        $("#editProfileImageLabel").addClass("active");
        document.getElementById("profileImage").value = fileString;

    }


    const optionsBackground = {
        maxFiles: 1,
        onUploadDone: uploadFileBackground
    };

    const uploadBtnBack = document.getElementById("backgroundUploader");
    uploadBtnBack.addEventListener("click", (e) => {
        e.preventDefault();
        client.picker(optionsBackground).open();
    });

    function uploadFileBackground(result){
        const fileData = result.filesUploaded;
        const fileString = fileData[0].url;
        $("#editBackImageLabel").addClass("active");
        document.getElementById("backgroundImage").value = fileString;
    }


</script>
</body>
</html>
