<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('Posts needing guests')"></head>
<body>

<nav th:replace="partials/navbar-profile :: profileNav"></nav>
<main>

    <div class="row">

        <div class="col s12 m9">
            <!-- Title-->
            <div class="title">
                <h2>Your Responses</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div th:each="response : ${responseList}" class="col s12 m6">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content">
                        <form class="right" th:action="@{/response/delete/{id}(id=${response.id})}" th:method="GET" th:if="${response.acceptedStatus == 0}">
                            <input type="hidden" name="currentUrl" id="URL" th:value="${currentUrl}">
                            <button class="btn wave-effect waves-light"><a>Delete Response</a></button>
                        </form>
                        <h2 th:text="${response.request.title}"></h2>
                        <h3 th:text="${response.request.user.username}"></h3>
                        <p th:text="${response.content}"></p>
                        <p th:text="${response.createdAt.toString().substring(0, 16)}"></p>
                        <p th:switch="${response.acceptedStatus == 1}">Status:
                            <span th:case="${true}">Accepted</span>
                            <span th:case="${false}">Pending</span>
                        </p>
                        <button class="btn wave-effect waves-light" th:if="${response.acceptedStatus == 1}"><a th:href="@{/collaborate/{id}(id=${response.request.user.id})}" >Contact User</a></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>