<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead(Error)"></head>
<body style="background: #499E8D !important;">

    <nav sec:authorize="isAnonymous()" th:replace="partials/navbar :: navbar"></nav>
    <nav sec:authorize="isAuthenticated()" th:replace="partials/navbar-profile :: profileNav"></nav>
<main>
    <th:block th:switch="${error}">
        <h1 th:text="${error}"></h1>
        <div th:case="'Not Found'">
            <h2>Page not found</h2>
        </div>
        <div th:case="'Forbidden'">
            <h2>You don't have permission to view this page. If you feel as tho you should be able to view this page, feel free to contact us below</h2>
        </div>
    </th:block>
</main>
    <footer th:replace="partials/footer :: footer"></footer>
    <div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>