<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeLogin :: styleHead(Error)"></head>
<body style="background: #499E8D !important;">

    <nav sec:authorize="isAnonymous()" th:replace="partials/navbar :: navbar"></nav>
    <nav sec:authorize="isAuthenticated()" th:replace="partials/navbar-profile :: profileNav"></nav>
<main>
    <div id="errorArea">
        <img id="errorImg" th:src="@{/images/isThisThingon.png}">
        <h4 style="color: #f9ebd5">Is this thing on?</h4>
    </div>
    <h2 class="errorPageMsg" id="msg1">Sorry, there seems to be an error with your request..</h2>
    <h2 class="errorPageMsg" id="msg2">Would you please submit this form to notify our developers</h2>
    <form th:action="@{/errorSubmit}" th:method="POST" class="errorBox z-depth-3">
        <input name="error-error" id="error-error" th:value="${error}" type="hidden"/>
        <input name="error-timestamp" id="error-timestamp" th:value="${timestamp}" type="hidden"/>
        <input name="error-path" id="error-path" th:value="${path}" type="hidden"/>
        <input name="error-status" id="error-status" th:value="${status}" type="hidden"/>
        <input name="error-message" id="error-message" th:value="${message}" type="hidden"/>
        <input name="error-exception" id="error-exception" th:value="${exception}" type="hidden"/>
        <div class="input-field pad">
            <label class="pad" style="color: #f9ebd5 !important; text-align: center" for="userMsg">Anything to add?</label>
            <textarea name="userMsg" id="userMsg" class="materialize-textarea"></textarea>
        </div>
        <button class="btn wave-effect waves-light" id="errorBtn">
            <a>Send To Developers
                <i class="material-icons right">send</i>
            </a>
        </button>
    </form>
</main>
    <footer th:replace="partials/footer :: footer"></footer>
    <div th:replace="partials/materializescripts :: scripts"></div>

<script>
    $("#msg1").hide();
    $("#msg2").hide();
    $(document).ready(function () {

        $("#msg1").slideDown(900);
        $("#msg2").slideDown(1900);

    });
</script>

</body>
</html>