<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="partials/materializeHead.html :: styleHead('Create Post')"></head>
<body>
<nav th:replace="partials/navbar-profile :: profileNav"></nav>

<div class="container">

    <div th:if="${!param.isEmpty()}">
        <div>
            <div th:if="${param.unfollow}">
                You have unfollowed <span th:text="${unfollowedUser.username}"></span>.
            </div>
        </div>
    </div>

    <h1 class="my-4">Followers Page</h1>

    <div class="row">

        <div th:replace="partials/fixedProfileCard :: fixedProfileCard"></div>


        <div class="col s12 m12 l3" th:each="follower : ${followList}">
            <a th:href="@{/unfollow/{id}(id=${follower.id})}"><button>Unfollow</button></a>
            <div class="row">
                <div class="col s12 m7">
                    <div class="card">
                        <div class="card-image">
                            <img th:src="${follower.profileImage}">
                        </div>
                        <div class="card-content">
                            <h3 th:text="${follower.username}"></h3>
                            <ul>
                                <li># of posts: <span th:text="${follower.podcasts.size()}"></span> </li>
                                <li class="divider"></li>
                                <li th:switch="${follower.requests.size() > 0}">Looking for guest(s):
                                    <span th:case="${true}">Yes</span>
                                    <span th:case="${false}">No</span>
                                </li>
                                <li class="divider"></li>
                                <li># of active requests: <span th:text="${follower.requests.size()}"></span> </li>
                            </ul>
                        </div>
                        <div class="card-action">
                            <a th:href="@{/followers/{id}(id=${follower.id})}">View Profile</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>

<footer th:replace="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>
