<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Pod Lobby</title>
    <link rel="stylesheet" th:href="@{/styles/landing-page.css}" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="icon" type="image" href="images/favicon.svg">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>


<body>


<!--landing page navbar-->

    <div class="nav-style main-nav topnav">
            <ul class="animated-three fadeIn right" >

                    <li class="list-opt hidden-link" sec:authorize="isAuthenticated()">
                        <form class="logoutForm" th:action="@{/logout}" method="POST">
                            <button class="logoutFormButton">Logout</button>
                        </form>
                    </li>


                    <li class="list-opt hidden-link align-nav-right" sec:authorize="isAuthenticated()"><a href="/request">Request</a></li>
                    <li class="list-opt hidden-link align-nav-right" sec:authorize="isAuthenticated()"><a href="/podcasts/create">Create</a></li>
                    <li class="list-opt hidden-link align-nav-right" sec:authorize="isAuthenticated()"><a href="/settings">Settings</a></li>
                    <li class="list-opt hidden-link align-nav-right" sec:authorize="isAuthenticated()"><a href="/profile">Profile</a></li>
                    <li class="list-opt  align-nav-right"><a href="/">PodLobby</a></li>
                    <li class="list-opt  align-nav-right"><a href="/feeds/global">Home</a></li>
                    <li class="list-opt  align-nav-right" sec:authorize="isAnonymous()"><a href="/login">Login</a></li>

<!--                 <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>-->
            </ul>
    </div>





<!--Podlobby centered logo-->

    <div class="logo-align">
        <img id="heading" class="animated-two fadeInLeft big-logo" th:src="@{/images/logo_transparent_copy_one.png}" th:width="*{600}">
    </div>


<!--background image -->

    <div>
        <img id="animated-example heading" class="animated fadeInDown background-img background-img" th:src="@{/images/podlobby-main-copy-two.png}">
    </div>


<!--background image for mobile screens-->

    <div>
        <img  class="mobile-bg" th:src="@{/images/the-mobile-bg-copy_one.png}" >
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<!--    <script>-->
<!--        $(document).ready(function(){-->
<!--        $('.sidenav').sidenav();-->
<!--        });-->
<!--    </script>-->

<!--<script>-->
<!--    document.addEventListener('DOMContentLoaded', function() {-->
<!--        var elems = document.querySelectorAll('.sidenav');-->
<!--        var instances = M.Sidenav.init(elems, options);-->
<!--    });-->
<!--</script>-->
</body>
</html>
