<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('User Profile')"></head>
<body>
<div th:replace="partials/navbar-profile :: profileNav"></div>

<div th:if="${!param.isEmpty()}">
    <div>
        <div th:if="${param.followed}">
            You have followed <span th:text="${follower.username}"></span>.
        </div>
    </div>
</div>
<main>
    <div class="row">
        <div class="col m4 hide-on-small-only profile-side">
            <img class="circle profile-Image" th:src="${follower.profileImage}">
            <div class="collection">
                <a href="#!" class="collection-item" th:text="${follower.username}"></a>
                <a th:if="${!isFollowing}" th:href="@{/followUser/{id}(id=${follower.id})}" class="collection-item">Follow</a>
                <a href="#!" class="collection-item">View active requests</a>
            </div>
        </div>

        <div class="col s12 m8 content-side">
            <p class="center-align">Activity</p>
            <!--    In the content area can click on a specific podcast ( id ) and it will move to the nav bar to be played -->
            <div id="profileContentArea">

                <div class="col s12 profileContentItem" th:each="podcast : ${followerPodcasts}">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img th:src="${podcast.image}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <iframe th:src="${podcast.embedLink}"></iframe>
                            </div>
                            <div class="card-action">
                                <a href="#">Listen</a>
                                <div th:replace="partials/commentsModal :: commentModal"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>

</html>