<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('User Profile')"></head>
<body>
<div th:replace="partials/navbar-profile :: profileNav"></div>

<div class="hide-on-med-and-up">
    <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
            <div class="background">
                <img th:src="@{/img/matt-profile-background.jpg}">
            </div>
            <a href="#user"><img class="circle" th:src="${follower.profileImage}"></a>
            <a href="#name"><span class="white-text name" th:text="${follower.username}"></span></a>
        </div>
        </li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">cloud</i>Follow</a></li>
        <li><div class="divider"></div></li>
        <li><a class="subheader">Listening to</a></li>
        <li><iframe id="profileIframeSideNav" src="https://open.spotify.com/embed-podcast/episode/2aB2swgyXqbFA06AxPlFmr" allowtransparency="true" allow="encrypted-media"></iframe></li>
        <li><a class="waves-effect" href="#!"><i class="material-icons">cloud</i>Request</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">account_circle</i></a>
</div>
<main>
    <div class="row">
        <div class="col m4 hide-on-small-only profile-side">
            <img class="circle profile-Image" th:src="${follower.profileImage}">
            <div class="collection">
                <a href="#!" class="collection-item" th:text="${follower.username}"></a>
                <a href="#!" class="collection-item">Follow</a>
                <a href="#!" class="collection-item">Request</a>
            </div>
        </div>

        <div class="col s12 m8 content-side">
            <p class="center-align">Activity</p>
            <!--    In the content area can click on a specific podcast ( id ) and it will move to the nav bar to be played -->
            <div id="profileContentArea">

                <div class="col s12 profileContentItem" th:each="podcast : ${followerPodcasts}">
                    <div class="card horizontal">
                        <div class="card-image">
                            <img th:src="${podcast.image}">
                        </div>
                        <div class="card-stacked">
                            <div class="card-content">
                                <iframe th:src="${podcast.embedLink}"></iframe>
                            </div>
                            <div class="card-action">
                                <a href="#">Listen</a>
                                <div th:replace="partials/commentsModal :: commentModal"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>

</html>