<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('Register')"></head>


<body>

    <div th:replace="partials/navbar.html :: navbar"></div>
    <main>
        <div class="container">
            <h1>Create an Account</h1>
            <div class="row">
                <form class="col s12">
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="username" type="text" class="validate" />
                            <label for="username">Username</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="password" type="password" class="validate">
                            <label for="password">Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="confirmPass" type="password" class="validate">
                            <label for="confirmPass">Confirm Password</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12">
                            <input id="email" type="email" class="validate">
                            <label for="email">Email</label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="input-field col s12" style="display: flex">
                            <label for="body">About Me</label>
                            <textarea class="materialize-textarea" id="body"></textarea>
                            <a class="waves-effect waves-light btn" onclick="$('.tap-target').tapTarget('open')"><i class="fas fa-question"></i></a>
                        </div>

                    </div>



                    <button class="btn waves-effect waves-light" type="submit" name="action">Sign Up
                        <i class="material-icons right">send</i>
                    </button>
                </form>
                <div class="tap-target" data-target="menu">
                    <div class="tap-target-content">
                        <h5>About Me</h5>
                        <p>This will be for other users on the site. Please add some information about you and your interests along with something that you are hoping to find here and collaborate on!</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <a id="menu" class="waves-effect waves-light btn btn-floating" ><i class="material-icons">menu</i></a>

    <div th:replace="partials/footer.html :: footer"></div>
    <div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>