<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials/materializeHead :: styleHead('Request')"></head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<main>
    <form th:action="@{/request}" th:method="POST" th:object="${request}">

        <div class="form-group input-field">
            <label for="title">Title</label>
            <input id="title" name="title" type="text" th:value="*{title}"/>
        </div>

        <div class="form-group input-field">
            <label for="title">Description</label>
            <input id="description" name="description" type="text" th:value="*{description}"/>
        </div>

        <div class="form-group input-field">
            <label for="req-amount">How many people do you need?</label>
            <input id="req-amount" name="req-amount" type="text" th:value="*{guestCount}"/>
        </div>
<!--???WHAT TO DO WITH IS_ACTIVE COLUMN???-->
<!--        <div class="form-group input-field">-->
<!--            <label for="req-active">Activate</label>-->
<!--            <input id="req-active" name="req-amount" type="checkbox" th:value="*{isActive}"/>-->
<!--        </div>-->

        <input class="btn btn-block btn-primary" type="submit"/>

    </form>
</main>
<footer th:replace="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>
</body>
</html>
