<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead.html :: styleHead('Create Post')"></head>
<body>
<nav th:replace="partials/navbar :: navbar"></nav>

<h1 class="my-4">Filtered Feed</h1>
<br>
<br>


<div class="row" >

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row" >

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

</div>

<div class="row" >

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

    <div class="col s12 m4 l4">
        <div class="card horizontal">
            <div class="card-image">
                <img src="../images/dog-logo copy.jpg" alt="">
            </div>
            <div class="card-stacked">
                <div class="card-content">
                    <p>I am a very simple card. I am good at containing small bits of information.</p>
                </div>
                <div class="card-action">
                    <a href="#">This is a link</a>
                </div>
            </div>
        </div>
    </div>

</div>




<footer th:replace="partials/footer.html :: footer"></footer>
</body>
</html>
