<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead.html :: styleHead('Podcasts by your following')"></head>
<body>
<nav th:replace="partials/navbar-profile :: profileNav"></nav>
<main>

<div class="row" >

    <div th:replace="partials/fixedProfileCard :: fixedProfileCard"></div>




    <div class="col s12 m8">
        <!-- Title-->
        <div class="feed-title">
            <h2 th:text="${page}"></h2>
        </div>

        <!--Feed Buttons-->
        <div class="feed-buttons">

            <div class="col s12 m4">
                <a href="/feeds/global" class="waves-effect waves-light btn-large">GLOBAL</a>
            </div>
            <div class="col s12 m4">
                <a href="/feeds/requests" class="waves-effect waves-light btn-large">REQUESTS</a>
            </div>

        </div>

    </div>
</div>

<!--<div class="row">-->
    <div class="row">
        <div class="col s12 m6 l4" th:each="podcast : ${filtered}">
            <div class="card horizontal" style="box-shadow: none !important; background: none !important;">
                <div class="card-stacked">
                    <div class="card-action">
                        <iframe th:src="${podcast.getEmbedLink()}"></iframe>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/otherProfile/{id}(id=${podcast.user.id})}" th:text="${podcast.user.username}"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</main>


<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div></body>
</html>
