<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead.html :: styleHead('Create Post')">
    <link rel="stylesheet" th:src="@{../static/styles/feeds.css}" type="text/css">
</head>
<style>
</style>

<body>
<nav  sec:authorize="isAnonymous()" th:replace="partials/navbar :: navbar"></nav>
<nav sec:authorize="isAuthenticated()" th:replace="partials/navbar-profile :: profileNav"></nav>
<main>

<h1 class="my-4">Global Feed</h1>




<div class="row" >

    <!-- User's profile information -->
    <div class="col s12 m3">
        <div class="card">
            <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">User Name</span>
            </div>
            <div class="card-content">
                <h5>About Me</h5>
                <p>I am a very simple card. I am good at containing small bits of information.
                    I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
                <a href="#">This is a link</a>
            </div>
        </div>
    </div>



    <div class="col s12 m9">
        <!-- Title-->
        <div class="feed-title">
            <h2>FEED</h2>
        </div>

        <!--Feed Buttons-->
        <div class="feed-buttons">

            <div class="col s12 m3">
                <a href="/feeds/global" class="waves-effect waves-light btn-large">GLOBAL</a>
            </div>
            <div class="col s12 m3">
                <a href="/feeds/filtered" class="waves-effect waves-light btn-large">FOLLOWERS</a>
            </div>
            <div class="col s12 m3">
                <a href="/feeds/requests" class="waves-effect waves-light btn-large">REQUESTS</a>
            </div>

        </div>
    </div>
</div>

<!-- Podcast Global Feed -->
 <div class="row">
     <div th:each="podcast : ${podcasts}">
        <div class="col s12 m4 l4">
            <div class="card horizontal" style="box-shadow: none !important; background: none !important;">
                <div class="card-stacked">
                    <div class="card-action">
                        <iframe th:src="${podcast.getEmbedLink()}"></iframe>
                    </div>
<!--                    <div class="card-action"  th:utext="${podcast.embedLink}" scrollable="yes"></div>-->
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>
     </div>
 </div>




</main>
</body>




<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div></body>
</html>
