<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead.html :: styleHead('All Podcasts')">
    <link rel="stylesheet" th:src="@{../static/styles/feeds.css}" type="text/css">
</head>

<body>
<div sec:authorize="isAuthenticated()">
    <img id="animated-example heading" class="animated fadeInDown background-img background-img" th:style="'background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, .8)),url(' + ${session.user.backgroundImage} + '); background-repeat: no-repeat !important; background-size: cover !important;'">
</div>
<div sec:authorize="isAnonymous()">
    <img class="animated fadeInDown background-img background-img" style="background:linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, .8)),url('https://wallpaperaccess.com/full/4061951.jpg'); background-repeat: no-repeat !important; background-size: cover !important;">
</div>
<nav sec:authorize="isAuthenticated()" th:replace="partials/navbar-profile :: profileNav"></nav>

<nav sec:authorize="isAnonymous()" th:replace="partials/navbar :: navbar"></nav>
<main>

<div class="row container">

    <div class="col s12">
        <!-- Title-->
        <div class="feed-title">
            <h2 th:text="${page}"></h2>
        </div>

        <!--Feed Buttons-->
        <div class="feed-buttons">

            <div class="col s12 m4 offset-m2">
                <a href="/feeds/filtered" class="waves-effect waves-light btn-large">FOLLOWERS</a>
            </div>
            <div class="col s12 m4 offset-m2">
                <a href="/feeds/requests" class="waves-effect waves-light btn-large">REQUESTS</a>
            </div>

        </div>
    </div>
</div>

<!-- Podcast Global Feed -->
 <div class="row container">
    <div class="col s12 m6 globalPodcastCard" th:each="podcast : ${podcasts}">
        <div class="card" style="box-shadow: none !important; background: rgba(252, 232, 205, .8) !important; color: #433520 !important;">
            <div class="card-image" style="display: flex !important;">
                <img class="podImageGlobal" th:src="${podcast.image}">
            </div>
            <p style="color: #6e574d; margin-left: 5px; margin-right: 5px"> By: <span><a class="right" th:href="@{/otherProfile/{id}(id=${podcast.user.id})}" th:text="${podcast.user.username}"></a></span></p>
            <div class="card-stacked">
                <div class="card-content globalDescription podcastsDesc">
                    <p th:text="${podcast.description}"></p>
                </div>
                <div class="card-action globalListenButton">
                    <form sec:authorize="isAuthenticated()" class="globalListenButton buttonItem" th:action="@{/listen/{id}(id=${podcast.id})}" method="get">
                        <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                        <a class="globalListenButton"><button class="globalListenButton btn waves-effect waves-light">Listen</button></a>
                    </form>
                </div>
            </div>
        </div>
    </div>
 </div>




</main>


<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>