<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('Posts needing guests')"></head>
<body>

<nav th:replace="partials/navbar-profile :: profileNav"></nav>
<main>

    <div class="row">

        <div class="col s12 m9">
            <!-- Title-->
            <div class="title">
                <h2>Requests</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div th:each="request : ${requestList}" class="col s12 m6">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content" style="display: flex;">
                        <img class="circle responsive-image" id="requestImage" th:src="${request.user.profileImage}">
                        <div>
                            <p th:text="${request.title}"></p>
                            <p th:text="${request.description}"></p>
                        </div>
                    </div>
                    <div class="card-action">
                        <p>Looking for : <span th:text="${request.guestCount}"></span> guests | By: <span th:text="${request.user.username}"></span> | <span class="right" th:text="${request.createdAt}"></span> </p>
                        <form class="right" th:if="${request.isActive == 1}" th:action="@{/user-request/{id}(id=${request.id})}" method="get">
                            <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                            <button class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>