<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('Posts needing guests')"></head>
<body>

<nav th:replace="partials/navbar-profile :: profileNav"></nav>
<main>
    <div th:if="${message != null}">
        <p th:text="${message}"></p>
    </div>

    <div class="row">

        <div class="col s12 m9">
            <!-- Title-->
            <div class="title">
                <h2>Requests</h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div th:each="i : ${#numbers.sequence(0, requestList.size() - 1)}" class="col s12 m6" th:if="${requestList.get(i).guestCount &gt; 0} OR ${requestList.get(i).user.id == session.user.id}">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content" style="display: flex;">
                        <img class="circle responsive-image col s4" id="requestImage" th:src="${requestList.get(i).user.profileImage}">
                        <div class="col s8">
                            <h5 th:text="${requestList.get(i).title}"></h5>
                            <p th:text="${requestList.get(i).description}"></p>
                        </div>
                    </div>
                    <div class="card-action">
                        <p class="col s3">Looking for : <span th:text="${requestList.get(i).guestCount}"></span> guests | By: <span th:text="${requestList.get(i).user.username}"></span> | <span class="right" th:text="${requestList.get(i).createdAt}"></span> </p>

                        <div th:replace="partials/deleteRequestModal :: deleteRequestModal"></div>

                        <div th:replace="partials/viewResponseModal :: viewResponseModal"></div>

                        <form class="col s3" th:action="@{/request/edit/{id}(id=${requestList.get(i).id})}" th:method="GET" th:if="${requestList.get(i).user.id == session.user.id}">
                            <input type="hidden" name="currentUrl" id="URL" th:value="${currentUrl}">
                            <button class="wave-effect"><a>Edit</a></button>
                        </form>

                        <form class="right" th:if="${requestList.get(i).isActive == 1}" th:action="@{/user-request/{id}(id=${requestList.get(i).id})}" method="get">
                            <input type="hidden" name="currentUrl" id="currentUrl" th:value="${currentUrl}">
                            <button class="btn-floating btn-large cyan pulse"><i class="material-icons">edit</i></button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<footer th:replace="partials/footer :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>
