<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('New Password')"></head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<main>

    <h1>Please enter a new password for your account</h1>

    <div th:if="${!param.isEmpty()}">
        <div>
            <div>
                <div th:if="${param.incorrect}">
                    Passwords do not match.
                </div>
            </div>
        </div>
    </div>

    <form class="container" method="post" th:action="@{/newPassword}">

        <div class="input-field" style="display: flex">
            <i class="material-icons">lock</i>
            <input class="validate" type="password" id="password" name="password"/>
            <label class="labelIcon" for="password">New Password</label>
        </div>
        <div class="input-field" style="display: flex">
            <i class="material-icons">lock</i>
            <input class="validate" type="password" id="confirmPassword" name="confirmPassword"/>
            <label class="labelIcon" for="confirmPassword">Confirm Password</label>
        </div>
        <button class="btn waves-effect">Submit</button>

    </form>

</main>

<footer th:replace="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

</body>
</html>