<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/materializeHead :: styleHead('New Password')"></head>
<body>
<nav th:replace="partials/navbar.html :: navbar"></nav>
<main>

    <h1>Please enter a new password for your account</h1>
    <small class="registerErrors" id="passErrorCustom">Passwords do not match</small>
    <small class="registerErrors" id="passErrorCustom2">Passwords must have 1 number, 1 uppercase letter and be 8-20 characters long</small>
    <div th:if="${message != null}">
        <p class="errorMsg" th:text="${message}"></p>
    </div>

    <form class="container" method="post" th:action="@{/newPassword}">

        <div class="input-field" style="display: flex">
            <i class="material-icons">lock</i>
            <input class="validate" type="password" id="password" name="password"/>
            <label class="labelIcon" for="password">New Password</label>
        </div>
        <div class="input-field" style="display: flex">
            <i class="material-icons">lock</i>
            <input class="validate" type="password" id="confirmPassword" name="confirmPassword"/>
            <label class="labelIcon" for="confirmPassword">Confirm Password</label>
        </div>
        <button class="btn waves-effect"><a>Submit</a></button>

    </form>

</main>

<footer th:replace="partials/footer.html :: footer"></footer>
<div th:replace="partials/materializescripts :: scripts"></div>

<script>
    $("#passErrorCustom").hide();
    $("#passErrorCustom2").hide();
    $(document).ready(function (){

        const passInput = document.getElementById("password");
        const passConfirm = document.getElementById("confirmPassword");


        $("#confirmPassword").on("input", function () {
            if($(this).val() !== passInput.value){
                $(this).attr("style", "color: #5a1666 !important");
                $("#password").attr("style", "color: #5a1666 !important");
                $("#passErrorCustom").show(300);
                $("#passErrorCustom2").hide();
            } else if (!goodPassword($(this).val())) {
                $(this).attr("style", "color: #5a1666 !important");
                $("#password").attr("style", "color: #5a1666 !important");
                $("#passErrorCustom2").show(300);
                $("#passErrorCustom").hide();
            } else {
                $(this).removeAttr("style");
                $("#password").removeAttr("style");
                $("#passErrorCustom").hide(300);
                $("#passErrorCustom2").hide(300);
            }
        });

        $("#password").on("input", function () {
            if($(this).val() !== passConfirm.value){
                $(this).attr("style", "color: #5a1666 !important");
                $("#confirmPassword").attr("style", "color: #5a1666 !important");
                $("#passErrorCustom").show(300);
                $("#passErrorCustom2").hide();
            } else if (!goodPassword($(this).val())) {
                $(this).attr("style", "color: #5a1666 !important");
                $("#confirmPassword").attr("style", "color: #5a1666 !important");
                $("#passErrorCustom2").show(300);
                $("#passErrorCustom").hide();
            } else {
                $(this).removeAttr("style");
                $("#confirmPassword").removeAttr("style");
                $("#passErrorCustom").hide(300);
                $("#passErrorCustom2").hide(300);
            }
        });

        function goodPassword(s1){
            if(s1.length > 21 || s1.length < 8) return false;
            if(s1.toLowerCase() === s1) return false;
            return /\d/.test(s1);
        }

    });


</script>

</body>
</html>