iframe {
    overflow: hidden;
    border: none;
}

.card-image{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin-right: 0 !important;
}

.podImageGlobal{
    object-fit: contain !important;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin-right: 0 !important;
}

.dsc{
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
}

.card{
    /*margin-bottom: ;*/
    min-height: 475px;
    max-height: 475px;
    overflow: scroll;
}

#crd-cnt{
    max-height: 132px !important;
    overflow: scroll !important;
}

.full-width{
    width: 100% !important;
}


.globalListenButton, .card-stacked {
    position: relative;
    bottom: 0;
}


@media only screen and (min-width: 426px){
    #gbl-cont{
    }
}



@media only screen and (min-width: 1400px){
    .podImageGlobal {
        object-fit: cover !important;
    }

    .card-image{
        margin-right: 0 !important;
    }
}
