.card-buttons{
    display: flex !important;
    justify-content: center !important;
}

#btn-hld-top{
    display: flex !important;
    justify-content: center !important;
}

#btn-hld-bottom{
    display: flex !important;
    justify-content: center !important;
}

.card-image{
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin-right: 0 !important;
}

.podImageProfiles{
    object-fit: contain !important;
    display: flex !important;
    justify-content: center !important;
    width: 100% !important;
    margin-right: 0 !important;
}

@media only screen and (min-width: 1400px) {
    .podImageProfiles{
        object-fit: cover !important;
    }

    .card-image{
        margin-right: 0 !important;
    }
}


