/*Style to allow for sticky footer on pages*/
body {
    display: flex;
    min-height: 110vh;
    flex-direction: column;
    background: url(/static/images/podlobby-main-copy.png);
    background-repeat: no-repeat;
    /*background-color: #499E8D*/
}

h1, h2 {
    color: #faebd6 !important;
    margin-top: 0px !important;
}
h2{
    font-size: 2.5rem;
}

.dropdown-content li {
    background: #faebd6;
}

.btn{
    opacity: 100% !important;
}

/*contact user highlight*/
.contactUser{
    position: relative;
    display: inline-block;
    overflow: hidden;
    /*background: linear-gradient(to right, #a1a1c4 50%, #489e8d 50%);*/
    background: linear-gradient(to right, #b8986b 50%, #433520 50%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 475ms ease;

}
.contactUser:hover{
    background-position: 0 100%;
}


/*Pulse effect*/
.cyan {
    background-color: #d1c2b1 !important;
}

/*to get rid of the random padding*/
.dropdown-content {
    background-color: #f9ebd5 !important;
}

/*TO BE USED ON THE REGISTER / CREATE PAGES*/

.tap-target{
    height: 41vh !important;
    width: 230vw !important;
}
.tap-target-content{
    width: 340px !important;
}
#tapPara{
    font-size: 10px;
}


::-webkit-scrollbar {
    width: 0px !important;
    background-color: transparent !important;}


main {
    flex: 1 0 auto;
}

.list-style {
    background-color: #f9ebd5;


}
/* Profile page */
.profile-side{
    background-color: transparent;
    color: #f9ebd5;
    max-width: 50% !important;
}
#otherUserProfileCard{
    height: 80vh !important;
}
.user-about-me{
    overflow: auto;
    overflow-x: hidden;
}
.content-side{
    display: flex;
    background-color: transparent;
    max-height: 100vh;
    overflow: scroll;
    justify-content: left;
}
.profileContentItem{
    max-height: 350px;
    max-width: 900px;
    margin-top: 75px;
    background-color: transparent;
}
.profile-iframe{
    margin-left: 1vw;
    width: 87vw;
}
.profile-Image{
    width: 185px;
    height: 175px;
    border-radius: 100%;
    margin-left: 30px !important;
    margin-right: 0 !important;
}

.profile-heading {
    color: aliceblue;
    margin-left: 25px;
}
.sidenav .user-view .name {
    font-size: 32px;
}

.sidenav{
    background-color: #faebd6 !important;
}

#profileNav{
    height: 140px;
}
#profileIframe{
    width: 100%;
    height: 138px;
    border: none;
}
#profileIframeSideNav{
    width: 100%;
    height: 150px;
    border: none;
}

.profile-style {
   position: sticky;
}

.background-img {
    min-width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
}

/*Profile page side bar collection background*/
.collection .collection-item {
    background-color: #cbbba5 !important;
}

/*profile image side nav top*/
#slide-outLi{
    height: 125px !important;
}
#slide-outLiTop{
    height: 100% !important;
}

.customButton{
    background: rgba(2, 89, 85, .5);
}

/*====== FOOTER PARTIAL ========*/
.page-footer{
    padding-top: 50px !important;
    /*background: rgb(255, 255, 255) !important;*/
    /*background: linear-gradient(0deg, rgb(252, 232, 205) 8%, rgb(73, 158, 140) 93%) !important;*/
    color: #433520 !important;
    background: rgb(111 97 74);
    /*background: linear-gradient(0deg, rgba(253,232,205,1) 8%, rgba(236,216,189,1) 16%, rgba(219,199,174,1) 24%, rgba(202,183,158,1) 32%, rgba(185,167,142,1) 40%, rgba(168,151,126,1) 48%, rgba(135,118,95,1) 56%, rgba(118,102,79,1) 65%, rgba(101,86,63,1) 74%, rgba(84,69,48,1) 83%, rgba(67,53,32,1) 92%);*/
}
.footerUl{
    display: flex !important;
    justify-content: space-around !important;
}
.centerText{
    text-align: center !important;
}
.footerContainer{
    width: 90% !important;
}
#footerIconAndName{
    display: flex !important;
    justify-content: space-around !important;
}
#footerSiteName{
    align-self: center !important;
}
#footerSubmitButton{
    border: none !important;
}

/*========= Styling for authorized user's home page (user-home.html) ========*/

/* Style for Scrollable content*/
.content{
    overflow: scroll;
    height: 350px;
}

/*Style for feed buttons on authorized user's home page*/
.feed-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/*Style for title on authorized user's home page*/
.feed-title{
    text-align: center;
}


/*style for tap target on create podcast*/
.tap-target{
    background-color: #fce8cd !important;
}
.tap-target-content{
    padding: 0 80px 0 10px !important;
}
.embedImg{
    border-radius: 3% !important;
}
.material-icons{
    color: #433520 !important;
}

/*Form icons and style*/
.labelIcon{
    padding-left: 25px !important;
}
.select-wrapper{
    width: 100% !important;
}
#podcastImage{
    border: none !important;
}
button:hover{
    cursor: pointer;
    background-position: 0 100%;
}
.logoutFormButton{
    height: 100%;
    width: 80px;
    border: none;
    font-size: 16px;
}
.logoutForm{
    height: 50px;
}
/*link effect*/
a, button{
    position: relative;
    display: inline-block;
    overflow: hidden;
    /*background: linear-gradient(to right, #a1a1c4 50%, #489e8d 50%);*/
    background: linear-gradient(to right, #faebd6 50%, #433520 50%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 475ms ease;

}
a:hover{
    background-position: 0 100%;
}

.byLink{
    position: relative;
    display: inline-block;
    overflow: hidden;
    /*background: linear-gradient(to right, #a1a1c4 50%, #489e8d 50%);*/
    background: linear-gradient(to right, #d6bb95 50%, #faebd6 50%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 475ms ease;

}
.byLink:hover{
    background-position: 0 100%;
}

button.feedButton  {
    position: relative;
    display: inline-block;
    overflow: hidden;
    /*background: linear-gradient(to right, #a1a1c4 50%, #489e8d 50%);*/
    background: linear-gradient(to right, #faebd6 50%, #49a985 50%);

    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 475ms ease;
}

button.feedButton:hover {
    background-position: 0 100%;
}
.navAnchor {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #d7a968 50%, #433520 50%);
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 475ms ease;
}
.navAnchor:hover{
    background-position: 0 100%;
}

.navAnchor2 {
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: linear-gradient(to right, #499e8b 50%, #d7a968 50%);
    background-position: 100%;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 200% 100%;
    background-position: 100%;

    transition: background-position 475ms ease;
}
.navAnchor2:hover{
    background-position: 0 100%;
}
/*footer contact links*/
.contactLinks{
    font-size: 18px;
}
.card-action {
    display: flex;
}


/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
.card-image{
    max-width:436px !important;
    height: 100% !important;
}
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*Just wanted to include it so it can be easily changed*/


.errorMsg{
    color: #d2c6c4 !important;
}


/*Global feed card*/

.globalDescription{
    min-height: 118px !important;
    overflow: auto !important;
    max-height: 118px !important;
}


/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/
/*.podImageGlobal{*/
/*    width: 100% !important;*/
/*    !*May change this when a more normalised styling is added*!*/
/*    max-height: 250px !important;*/
/*}*/
/*************************************************/
/*************************************************/
/*************************************************/
/*************************************************/


#podcastsDesc{
    padding: 12px 0 !important;
}
.globalListenButton{
    width: 100% !important;
}





/*comment modal*/
.commentModalBox{
    max-height: 65vh !important;
}
.commentArea{
    display: flex;
    flex-wrap: wrap;
    margin: 30px auto;
}
.commentContent{
    width: 100%;
    text-align: center;
    height: auto;
    margin: 10px 0;
}
.commentProImage{
    width: 60px !important;
    height: 55px !important;
    object-fit: cover;
}
.widthText{
    width: 60% !important;
}
.fullWidthText{
    width: 100% !important;
    margin-left: 10% !important;
}
#commentDivide{
    width: 100% !important;
}


.registerErrors{
    position: absolute;
    font-size: 8px !important;
    color: #f8ead4;
}
#errorMsgBox{
    /*margin-top: 35px;*/
}

/*MODAL*/
.modalWithContent{
    background-color: #433520 !important;
}
.modal{
    background-color: #faebd6;
}

/*footer image*/
#footerImageIcon{
    width: 50%;
}
#msgModal{
    background-color: #025955;
}

/*object fit for images*/
/*=============================================================================*/
@media screen and (min-width: 600px) {
    .profile-heading {
        margin-left: 80px;
    }
    .commentModalBox{
        max-width: 60vw !important;
    }
    .registerErrors{
        font-size: 10px !important;
    }
    .globalPodcastCard{
        /*for better grid layout*/
        min-height: 380px !important;
    }
    .profile-side{
        min-height: 100vh !important;
    }

}

@media screen and (min-width: 768px) {
    .tap-target{
        width: 115vw !important;
    }
    #errorMsgBox{
        /*margin-top: 45px;*/
    }
    h2{
        font-size: 3rem;
    }
    .commentProImage {
        width: 100px !important;
        height: 80px !important;
    }
}



@media screen and (min-width: 992px) {
    .profile-iframe {
        margin-left: 15vw;
        width: 78vw;
    }

    .contactLinks {
        font-size: 24px;
    }

    .brand-logo {
        display: none;
    }
    .tap-target{
        width: 99vw !important;
    }
    #footerImageIcon{
        width: 25%;
    }
}
@media screen and (min-width: 1300px) {
    .tap-target{
        width: 83vw !important;
    }
    .registerErrors{
        font-size: 14px;
    }

    h2{
        font-size: 3.5rem;
    }
}
