
/*====== FOOTER PARTIAL ========*/
.footerUl{
    display: flex !important;
    justify-content: space-around !important;
}
.centerText{
    text-align: center !important;
}
.footerContainer{
    width: 90% !important;
}
#footerIconAndName{
    display: flex !important;
    justify-content: space-around !important;
}
#footerSiteName{
    align-self: center !important;
}
#footerSubmitButton{
    background: none !important;
    border: none !important;
    color: #fff !important;
}

/*========= Styling for authorized user's home page (user-home.html) ========*/

/* Style for Scrollable content*/
.content{
    overflow: scroll;
    height: 350px;
}

/*Style for feed buttons on authorized user's home page*/
.feed-buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

/*Style for title on authorized user's home page*/
.feed-title{
    text-align: center;
}
/*=============================================================================*/